body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden; /* Prevents scrolling */
}

.container {
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    
    max-height: 90vh; /* Ensures container fits within the viewport */
    overflow-y: auto; /* Allows scrolling within the form if content overflows */
}

.header {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group label {
    flex-basis: 100%;
    margin-bottom: 5px;
    color: #555;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="date"],
.form-group input[type="password"],
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}

@media (min-width: 600px) {
    .form-group label {
        flex-basis: 25%;
        margin-right: 10px;
    }

    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group input[type="date"],
    .form-group input[type="password"],
    .form-group select {
        flex-basis: 72%;
    }
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    padding: 12px;
    width: 32%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    text-align: center;
}

.btn-register { background-color: #4CAF50; }
.btn-update { background-color: #5a5bf0; }
.btn-delete { background-color: #f44336; }

.btn-register:hover { background-color: #45a049; }
.btn-update:hover { background-color: #4b4bc9; }
.btn-delete:hover { background-color: #d32f2f; }
